@CHARSET "UTF-8";
body,
p,
pre {
  margin: 0;
}

button {
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  cursor: pointer;
}

h1, h2, h3 {
  margin: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  overflow-x: inherit;
}

img {
  overflow: inherit;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  line-height: 1;
  color: #333;
}
* {
    box-sizing: inherit;
}



#react-root,
div,
article,
footer,
header,
main,
nav,
section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

*::-moz-selection {
    background-color: #dddedf;
}

.Layout {
  min-height: 660px;
}

.Navbar {
  contain: layout;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 59px;
  width: 100%;
  border-bottom: 1px solid transparent;
  color: #808080;
  background: rgba(255,255,255,.97);
  will-change: transform;
  z-index: 2;
  position: relative;
}

.Navbar a {
 -webkit-transition: color .2s;
 transition: color .2s;
}

.Navbar a:hover {
 text-decoration: none;
 color: #333;
}

.Navbar.ScrollBackFixed {
  position: fixed;
  border-color: rgba(0,0,0,0.08);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  will-change: transform;
}

.Navbar.ScrollBackFixed-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);

}

.Navbar.ScrollBackFixed-animation {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.Navbar-logo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 58px;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 760px) {
  .Navbar-logo-wrapper,
  .Navbar-functionality {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .Navbar-title {
    position: relative;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 24px;
    overflow: hidden;
    margin-left: 56px;
  }
  .Navbar-title::before {
    content: '';
    height: 24px;
    width: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: rgba(0, 0, 0, .16);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .Navbar-postTitleName {
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    overflow: hidden;
  }
  .Navbar-columnIcon,
  .Navbar-followBtn {
    display: none;
  }
}

.Navbar-logo {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 58px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: gray;
  -webkit-transition: color .05s ease-in-out;
  transition: color .05s ease-in-out;
}

.Navbar-functionality {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 58px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
}

@media (max-width: 420px) {
  .Navbar-write {
    display: none;
  }
}

.Navbar-write {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  white-space: nowrap;
}

.Menu {
  padding: 5px 0;
  background: #fff;
  border: 1px solid #e7eaf1;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 34, 77, .1);
}

.Navbar-menu {
  width: 66px;
  -webkit-flex: 0 0 66px;
      -ms-flex: 0 0 66px;
          flex: 0 0 66px;
  text-align: center;
  -webkit-transition: color .2s;
  transition: color .2s;
}

.Navbar-menu:hover {
 color: #333;
}

.Layout-main {
  margin: 47px auto 0;
  padding: 0 0;
  width: 660px;
  z-index: 1;
}

@media (max-width: 660px) {

 .Layout-main {
  width: 100%;
  margin-top: 35px;
 }
}

.Layout-titleImage--normal {
  margin-top: 90px;
}

.Menu {
  position: relative;
  border: 0;
  box-shadow: none;
}

@media (max-width: 660px) {
  .Layout-titleImage--normal {
    margin-top: 0;
  }
  
    .PostIndex-topics {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  
    .PostIndex-reviewers {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  
  .PostIndex-reviewers {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .PostIndex-header {
    margin: 0 16px 0 16px;
 }
 
 .PostIndex-control {
    -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
 
 .PostIndex-content,
  .PostIndex-footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.Layout-titleImage--full .PostIndex-header {
 height: calc(100vh - 59px);
 text-shadow: 0 0 10px rgba(0, 0, 0, .24);
}
 .PostIndex-title {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700;
}

.PostIndex-author {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #808080;
}

.Layout-titleImage--normal .PostIndex-author {
 margin-top: 22px;
}

.Avatar {
  background: #fff;
  border-radius: 2px;
}

.Avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.PostIndex-authorAvatar {
  margin-right: 12px;
}

.PostIndex-author .PostIndex-authorName,
  .PostIndex-author time {
 color: #808080;
}

.PostIndex-author .PostIndex-authorName:hover, .PostIndex-author time:hover {
 color: #333;
}

.Bull {
  margin: 0 6px;
}
.Bull::before {
  content: '\B7';
}

.HoverTitle {
  position: relative;
}

.HoverTitle:hover::before,
.HoverTitle:hover::after,
.HoverTitle:focus::before,
.HoverTitle:focus::after {
  -webkit-animation: hoverTitleFadeIn 100ms linear forwards;
          animation: hoverTitleFadeIn 100ms linear forwards;
}

.HoverTitle:hover::before,
.HoverTitle:hover::after {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.HoverTitle::before,
.HoverTitle::after {
  content: '';
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.HoverTitle::before {
  top: 22px;
  width: 0;
  height: 0;
  margin: 0 0 0 -6px;
  font-size: 0;
  color: rgba(0, 0, 0, .8);
  border-bottom: 6px solid currentColor;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.HoverTitle::after {
  content: attr(data-hover-title);
  top: 28px;
  padding: 10px 16px;
  border-radius: 4px;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 13px;
  color: #fff;
  background: rgba(0, 0, 0, .8);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.RichText {
  display: inline-block;
   height: inherit;
}
.PostIndex-content {
  margin: 30px 0;
  line-height: 1.7;
}

.RichText {
  white-space: normal;
}

.RichText {
  word-break: break-word;
  white-space: pre-wrap;
}

.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(64, 64, 64, .72);
}

.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link):hover {
  color: #175199;
  border-color: rgba(62, 122, 194, .72);
}

.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) > .ellipsis::after {
  content: '...';
}

.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) > .invisible {/* .u-hideText */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
}

.RichText a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link):not(.UserLink-link) u {
  border-color: transparent;
}

.RichText u {
  text-decoration: none;
  border-bottom: 1px solid rgba(64, 64, 64, .72);
}

.RichText u a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link) {
  border-color: transparent;
}

.RichText h1, .RichText h2, .RichText h3, .RichText h4, .RichText h5, .RichText h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  font-weight: 400;
}

.RichText ul, .RichText ol {
  padding-left: 2em;
  margin: 1em 0;
}

.RichText ul li, .RichText ol li {
  list-style-position: outside;
}

.RichText ul ul, .RichText ol ol, .RichText ul ol, .RichText ol ul {
  margin: 0;
}

.RichText ul li {
  list-style-type: initial;
}

.RichText ol li {
  list-style-type: decimal;
}

.RichText img[eeimg] {
  max-width: 100%;
  vertical-align: middle;
}

.RichText img[eeimg="1"] {
  display: inline-block;
  margin: 0 3px;
}

.RichText pre {
  padding-right: 1em;
  padding-left: 1em;
  margin: 1em 0;
  overflow: auto;
  font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
  font-size: 14px;
  word-wrap: break-word;
  background: #ebeef5;
  border-radius: 4px;
}


.RichText blockquote {
  padding-left: 1em;
  margin: 1em 0;
  color: #6b7a8c;
  border-left: 4px solid #cfd8e6;
}

.RichText blockquote a:not(.video-box):not(.link-box):not(.member_mention):not(.VideoCard-link) {
  border-color: rgba(107, 122, 140, .72);
}

.RichText blockquote,
  .RichText ul,
  .RichText ol {
 margin: 20px 0 20px;
}

.RichText blockquote {
 padding-left: 1.2em;
 border-left: 4px solid #e2e3e4;
 color: #333;
}

.RichText p {
  margin-bottom: .8em;
}

.RichText p {
 margin: 20px 0;
}

body:not(.Body--isAppleDevice) .RichText h1, body:not(.Body--isAppleDevice) .RichText h2, body:not(.Body--isAppleDevice) .RichText h3, body:not(.Body--isAppleDevice) .RichText h4, body:not(.Body--isAppleDevice) .RichText h5, body:not(.Body--isAppleDevice) .RichText h6, body:not(.Body--isAppleDevice) .RichText b {
  font-weight: 700;
}

.RichText b {
  font-weight: 700;
}

.PostIndex-footer {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.RichText div {
    display: inline-block;
    height: inherit;
    width: 606px;
    text-align: left;
    padding-top: 7px;
}

.PostIndex-topics {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  overflow: hidden;
}

.TopicItem-wrapper {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.TopicItem {
  margin: 0 16px 16px 0;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  max-width: 100%;
  background: rgba(0, 0, 0, .06);
  color: #666768;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
}

.u-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.PostIndex-reviewers {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 15px;
  color: #808080;
}

.Button {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(204, 216, 225);
  border-radius: 3px;
}

.Button {
    border-radius: 4px;
    border-color: #b3b3b3;
    color: #808080;
}


.Button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.Button:focus {
  outline: none;
}

.Button:disabled {
  cursor: default;
  opacity: .5;
}

.Button:hover {
  background-color: rgba(207, 216, 230, .1);
}

.Button:hover:disabled {
  background-color: initial;
}

.PostIndex-voteButton {
	display:block;
	height:36px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PostIndex-voteButton .icon {
		
}

.PostIndex-voteButton[disabled] {
 border-color: transparent;
 opacity: 1;
 padding: 0;
 color: #50c87e;
}

.PostIndex-voteButton[disabled]:hover {
 background: transparent;
}

.PostIndex-voteButton[disabled]:active {
 background: transparent;
 color: #50c87e;
}

.Button--green {
  color: #50c87e;
  border: 1px solid #50c87e;
}

.Button--green:hover {
  background-color: rgba(8, 166, 100, .06);
}

.Button--green:disabled {
  background-color: initial;
}

.Button--green {
  color: #50c87e;
  border-color: #50c87e;
}

.Button--green:active {
 background: #50c87e;
 color: #fff;
}



.Button.icon {
 font-size: 24px;
 line-height: 1px;
}

.Button .icon {
 vertical-align: -4px;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 24px;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.PostIndex-voters {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 16px;
}

.PostIndex-allVoters {
  position: relative;
  width: 26px;
  height: 26px;
  color: #b3b3b3;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}

.Fav {
  margin-top: 5px;
}

.Button--plain, .Button--link {
  height: auto;
  padding: 0;
  line-height: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.Button--plain:hover, .Button--link:hover {
  background-color: transparent;
}

.Button--plain {
  color: #808080;
}

.Button--plain:active {
 color: #808080;
 background: transparent;
}


.PostShare .MenuButton {
 font-size: 15px;
 font-weight: normal;

}

.MenuButton-listen-hover ~ .Menu-dropdown {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}



.Menu-dropdown,
.Popover-targetContainer .Menu {
  position: absolute;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 4px;
  line-height: 54px;
  font-size: 14px;
  text-align: left;
  color: #333;
  background: #fff;
  box-shadow: 0 8px 18px rgba(0,0,0,.05);
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.MenuButton-listen-hover ~ .Menu-dropdown {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.PostShare .Menu-dropdown {
 top: 100%;
 width: 134px;
 left: 50%;
 margin-left: -66px;
}

@media (max-width: 660px) {
  .PostIndex-control .PostShare .Menu-dropdown {
  margin-left: 0;
  left: 0;
 }
}

.PostIndex-control > * + * {
 margin-left: 15px;
}

.ReportButton {
  font-size: 15px;
  font-weight: normal;
}

.FavButton {
	font-size: 15px;
	font-weight: normal;
	
}


.PostIndex-control {
  margin: 10px 0;
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.Report {
  margin-top: 5px;
}
/*--------------------------评论------------------------------------------------*/

.PostComment {
  padding-bottom: 48px;
    height: 80px;
    margin-top: 2px;
}


.BlockTitle {
  position: relative;
  display: block;
  line-height: 22px;
}

@media (max-width: 660px) {
  .BlockTitle {
    margin-left: 16px;
  }
}

@media (max-width: 420px) {
  .CommentItem .icon {
  display:none;
 }

  .CommentItem-action {
    display: block;
  }
}

@media (max-width: 660px) {
  .PostComment-mainEditor,
  .PostCommentList {
    padding-left: 16px;
    padding-right: 16px;
  }

  .PostComment-split {
    width: 100%;
  }
}

.PostComment-blockTitle,
.PostComment-titleTabs {
  position: relative;
  z-index: 3;
  margin-bottom: 5px;
}

.BlockTitle-title {
  position: relative;
  display: inline;
  padding-right: 16px;
  font-weight: 700;
  background: #fff;
  z-index: 1;
}

.BlockTitle-line {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  color: #f0f0f0;
  background: currentColor;
}

.CommentEditor {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
              height: 48px;
}

.CommentEditor-avatar {
  margin-right: 0px;
}

.CommentEditor-input {
      height: 48px;
      padding-left: 10px;
}

.Input-wrapper {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 36px;
  padding: 4px 10px;
  overflow: hidden;
  font-size: 14px;
  background: #fff;
  border: 1px solid #e7eaf1;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-transition: background 200ms, border 200ms;
  transition: background 200ms, border 200ms;
}

.Input-wrapper.Input-wrapper--spread {
  width: 100%;
}

.Input-wrapper.Input-wrapper--large, .Input-wrapper .Editable-toolbar, .Input-wrapper .DraftEditor-root {
  	height: inherit;
    padding: 6px 12px;
}




.Input {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  overflow: hidden;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.Input:not(input) {
  line-height: 26px;
}

.CommentEditor-input .Input {
 height: 46px;
 margin-bottom: 0;
 padding-top: 5px;
 padding-bottom: 0;
}


.Editable .RichText {
    cursor: text;
}


.Input::-webkit-input-placeholder, .Input .public-DraftEditorPlaceholder-root {
  color: #9fadc7;
}

.Input:-ms-input-placeholder, .Input .public-DraftEditorPlaceholder-root {
  color: #9fadc7;
}

.Input::placeholder, .Input .public-DraftEditorPlaceholder-root {
  color: #9fadc7;
}

.Input .public-DraftEditorPlaceholder-root {
    color: #b3b3b3;
    position: relative;
    top: -58px;
}

.DraftEditor-editorContainer div {
 display: block;
}

.CommentEditor-input .DraftEditor-root .Editable-unstyled:not(:last-child) {
 margin-bottom: 0;
}

.CommentEditor-actions {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.CommentEditor-actions .Button {
 width: 80px;
 height: 34px;
 margin-left: 160px;
}

.PostComment .PostComment-mainEditor .CommentEditor-actions {
 	display: inline-block;
    text-align: right;
}

.PostComment .PostComment-mainEditor.CommentEditor--opened .CommentEditor-actions {
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
}

.Button--blue {
  color: #0f88eb;
  border: 1px solid #0f88eb;
}

.Button--blue:hover {
  background-color: rgba(13, 121, 209, .06);
}

.Button--blue:disabled {
  background-color: initial;
}

.PostCommentList {
  	margin-top: 100px;
    position: relative;
    left: -660px;
}

.PostCommentList .CommentItem:first-child {
 margin-top: 0;
 margin-left: -35px;
}

.CommentItem {
  position: relative;
  padding-left: 60px;
  margin-top: 32px;
}

.CommentItem-author {
  position: absolute;
  left: 0;
}

.CommentItem-headWrapper {
  position: relative;
}

.CommentItem-headWrapper a {
 color: #333;
 font-weight: 700;
}

.CommentItem-head {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 24px;
}

.CommentItem-context {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CommentItem-content {
  min-height: 22px;
  margin: 8px 0;
  font-size: 15px;
  line-height: 24px;
  word-break: break-word;
}

.CommentItem-content a {
 color: #259;
}

.CommentItem-content a:hover {
 text-decoration: underline;
}

.CommentItem-foot {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #808080;
  font-size: 14px;
  line-height: 30px;
}

.CommentItem-like {
  position: absolute;
  right: 0;
}

.HoverTitle {
  position: relative;
}

.HoverTitle:hover::before,
.HoverTitle:hover::after,
.HoverTitle:focus::before,
.HoverTitle:focus::after {
  -webkit-animation: hoverTitleFadeIn 100ms linear forwards;
          animation: hoverTitleFadeIn 100ms linear forwards;
}

.HoverTitle:hover::before,
.HoverTitle:hover::after {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.HoverTitle::before,
.HoverTitle::after {
  content: '';
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.HoverTitle::before {
  top: 22px;
  width: 0;
  height: 0;
  margin: 0 0 0 -6px;
  font-size: 0;
  color: rgba(0, 0, 0, .8);
  border-bottom: 6px solid currentColor;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.HoverTitle::after {
  content: attr(data-hover-title);
  top: 28px;
  padding: 10px 16px;
  border-radius: 4px;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 13px;
  color: #fff;
  background: rgba(0, 0, 0, .8);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.CommentItem-action {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  line-height: 30px;
  display: none;
  margin-left: 8px;
}

.CommentItem-action + .CommentItem-action {
 margin-left: 8px;
}

.CommentItem:hover .CommentItem-action {
 display: block;
}

.CommentItem-action.Button:hover, .CommentItem-action .Button:hover {
 color: #333;
}

.CommentItem-actionReport {
  margin: 0;
}

.CommentItem-actionReport .ReportButton {
 font-size: 14px;
}

.Input-wrapper.Input-wrapper--noPadding {
  padding: 0;
}
.da-contents{
	position: relative;
    top: -39px;
}

.search-input{
	border: none;
    position: relative;
    top: -55px;
    height: 46px;
    width: 606px;
    
}
.PostIndex-control {
    align-items: flex-start;
    flex: 0 0 60%;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 10px -5px 140px;
}