body {
    background: #f7f8fa none repeat scroll 0 0;
    color: #262626;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
    font-size: 15px;
}

body, button, p, pre {
    margin: 0;
}
element.style {
    left: 0;
    top: 0;
    width:1440px;
}

.AppHeader, .AppHeader.is-fixed {
    z-index: 100;
}
.Sticky.is-fixed {
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
}
.AppHeader, .AppHeader.is-fixed {
    z-index: 100;
}
.AppHeader {
    background: #fff none repeat scroll 0 0 padding-box content-box;
    border-bottom: 1px solid rgba(30, 35, 42, 0.06);
    box-shadow: 0 1px 3px 0 rgba(0, 34, 77, 0.05);
    min-width: 1032px;
    overflow: hidden;
    position: relative;
}

.AppHeader, .AppHeader.is-fixed {
    z-index: 100;
}
.Sticky.is-fixed {
    box-sizing: border-box;
    position: fixed;
    z-index: 2;
}
.AppHeader, .AppHeader.is-fixed {
    z-index: 100;
}
.AppHeader {
    background: #fff none repeat scroll 0 0 padding-box content-box;
    border-bottom: 1px solid rgba(30, 35, 42, 0.06);
    box-shadow: 0 1px 3px 0 rgba(0, 34, 77, 0.05);
    min-width: 1032px;
    overflow: hidden;
    position: relative;
}
.AppHeader-inner {
    -moz-box-align: center;
    align-items: center;
    display: flex;
    height: 52px;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    width: 1000px;
}
a {
    color: inherit;
    text-decoration: none;
}
element.style {
    fill: rgb(15, 136, 235);
    height: 30px;
    width: 64px;
}
element.style {
    bottom: 0;
    display: block;
    float: none;
    height: 53px;
    left: 0;
    margin: 0;
    position: relative;
    right: 0;
    top: 0;
}
.Icon {
    fill: #9fadc7;
    vertical-align: text-bottom;
}
.AppHeader-nav {
    -moz-box-pack: justify;
    color: #999;
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 27px;
    width: 170px;
}
.AppHeader-navItem {
    color: #8590a6;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
}
a {
    color: inherit;
    text-decoration: none;
}
.SearchBar {
    display: flex;
}
.SearchBar-toolWrapper {
    position: relative;
    width: 326px;
    z-index: 104;
}
.SearchBar-tool {
    float: left;
    overflow: hidden;
    position: relative;
}
.SearchBar-tool .Popover {
    display: block;
}
.Popover {
    display: inline-block;
    position: relative;
}
.Input-wrapper.Input-wrapper--grey {
    background: #f7f8fa none repeat scroll 0 0;
}
.SearchBar-input {
    transition: width 0.2s ease 0s, background 0.3s ease 0s;
    width: 326px;
}
.Input-wrapper {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    height: 34px;
    padding: 4px 10px;
    position: relative;
    transition: background 0.2s ease 0s, border 0.2s ease 0s;
    width: 330px;
}
input.Input {
    height: 24px;
}
.Input {
    -moz-box-flex: 1;
    background: transparent none repeat scroll 0 0;
    border: medium none;
    flex: 1 1 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    resize: none;
}
.Input .public-DraftEditorPlaceholder-root, .Input::placeholder {
    color: #9fadc7;
}
.Input-after {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0px);
}
.SearchBar-searchIcon {
    background: transparent none repeat scroll 0 0;
    border: medium none transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    bottom: -17px;
    padding: 0 12px;
    position: absolute;
    right: -11px;
    top: -17px;
    transition: fill 0.3s ease 0s;
}
.Button--primary {
    background: #ccd8e1 none repeat scroll 0 0;
}
.Button {
    border: 1px solid #ccd8e1;
    border-radius: 3px;
    color: #8590a6;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    padding: 0 16px;
    text-align: center;
}
body, button, p, pre {
    margin: 0;
}
button {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: medium none;
    padding: 0;
}
element.style {
    height: 16px;
    width: 16px;
}
.SearchBar-searchIcon .Icon {
    fill: #afbdcf;
}

.Button--primary.Button--blue, .Button--primary.Button--blue:disabled {
    background: #0f88eb none repeat scroll 0 0;
}
.Button--primary.Button--blue {
    color: #fff;
}
.SearchBar-askButton {
    line-height: 30px;
    margin-left: 16px;
    padding: 0 14px;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    z-index: 103;
}
.Button--primary {
    background: #ccd8e1 none repeat scroll 0 0;
}
.Button--blue {
    border: 1px solid #0f88eb;
    color: #0f88eb;
}
.AppHeader-userInfo {
    -moz-box-align: center;
    -moz-box-flex: 1;
    -moz-box-pack: end;
    align-items: center;
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;
}
.AppHeader-messages, .AppHeader-notifications {
    margin-right: 40px;
}
.Popover {
    display: inline-block;
    position: relative;
}
.PushNotifications-icon {
    cursor: pointer;
}
.Button--link, .Button--plain {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
}
element.style {
    height: 20px;
    width: 20px;
}
.AppHeader-messages, .AppHeader-notifications {
    margin-right: 40px;
}
.Popover {
    display: inline-block;
    position: relative;
}
.Messages-icon {
    cursor: pointer;
}
.Button--link, .Button--plain {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
}
.AppHeader-profile {
    padding-right: 16px;
    text-align: right;
}
.AppHeader-profile .Popover {
    display: block;
}
.Popover {
    display: inline-block;
    position: relative;
}
.AppHeader-profileEntry {
    cursor: pointer;
    display: block;
}
.Button--link, .Button--plain {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
}
element.style {
    height: 30px;
    width: 30px;
}
.AppHeader-profileEntry .Avatar {
    display: block;
}
.Avatar {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
}
.zu-top-link-logo {
    background-image: url("../images/zhihublue.png");
    background-position: 0 8px;
    background-repeat: no-repeat;
    color: #fff;
    float: left;
    height: 100%;
    text-indent: -9999px;
    width: 70px;
}

.zu-top-search-form .zu-top-search-button::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.zu-top-search-form .zu-top-search-button {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #0e7bef, #0d73da) repeat scroll 0 0;
    border: 1px solid #045bb2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(255, 255, 255, 0.15) inset;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    outline: 0 none;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
}
button {
    line-height: 1.7;
    padding: 0;
}
div[contentEditable], input, textarea, button, a:link {
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.hide-text {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.sprite-global-icon-magnifier-dark {
    background-position: -82px -17px;
    height: 15px;
    width: 15px;
}
.sprite-global, [class*="sprite-global-"] {
    background-image: url("../images/function.png");
    background-repeat: no-repeat;
}
[class*="sprite-global-icon-"] {
    display: inline-block;
    vertical-align: middle;
}
.App-main {
    display: block;
}



.QuestionHeader {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px 0 rgba(0, 37, 55, 0.05);
    min-width: 1032px;
    overflow: hidden;
    padding: 16px 0;
    position: relative;
}
.QuestionHeader-content {
    -moz-box-pack: justify;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px;
    width: 1000px;
}

.QuestionHeader-main {
    box-sizing: border-box;
    padding-left: 20px;
    width: 694px;
}
.QuestionHeader-topics {
    margin-left: -2px;
    margin-right: -2px;
    padding: 1px 0;
}
.QuestionHeader-topics .QuestionTopic {
    margin: 3px 2px;
    vertical-align: middle;
}
.Tag {
    background: #eef4fa none repeat scroll 0 0;
    border-radius: 100px;
    color: #3e7ac2;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    position: relative;
    vertical-align: top;
}
.Tag {
    color: #3e7ac2;
    font-size: 14px;
    line-height: 30px;
}
a {
    color: inherit;
    text-decoration: none;
}
.Popover {
    display: inline-block;
    position: relative;
}
a {
    color: inherit;
}
.QuestionHeader-title {
    color: #1e1e1e;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 4px;
    margin-top: 12px;
}
h1, h2, h3 {
    font: inherit;
    margin: 0;
}
.QuestionHeader-detail {
    min-height: 10px;
}
.QuestionRichText {
    font-size: 15px;
    line-height: 25px;
}
.RichText {
    white-space: pre-wrap;
}



.QuestionHeader-side {
    padding-right: 20px;
    text-align: right;
    width: 296px;
}
.QuestionHeader-side {
    text-align: right;
}
.QuestionFollowStatus-counts {
    margin-left: auto;
    width: 200px;
}
.NumberBoard {
    -moz-box-align: center;
    align-items: center;
    display: flex;
    text-align: center;
}
.NumberBoard-item {
    -moz-box-flex: 1;
    flex: 1 1 0;
}
.Button--link, .Button--plain {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
}
.QuestionFollowStatus-counts .NumberBoard-name {
    line-height: 14px;
}
.NumberBoard-name {
    color: #8590a6;
    font-size: 14px;
    line-height: 20px;
}
.QuestionFollowStatus-counts .NumberBoard-value {
    line-height: 18px;
    margin-top: 6px;
}
.NumberBoard-value {
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 4px;
}
.NumberBoard-divider {
    align-self: stretch;
    border-right: 1px solid #f0f2f7;
}
.NumberBoard-item {
    -moz-box-flex: 1;
    flex: 1 1 0;
}






.QuestionHeader-footer {
    background: #fff none repeat scroll 0 0;
    margin-bottom: -12px;
    margin-top: 4px;
    padding-bottom: 12px;
}
.QuestionHeader-footer-inner, .QuestionHeader-footer-main {
    -moz-box-pack: justify;
    display: flex;
    justify-content: space-between;
}
.QuestionHeader-footer-inner {
    -moz-box-align: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    width: 1000px;
}
.QuestionHeader-footer-inner, .QuestionHeader-footer-main {
    -moz-box-pack: justify;
    display: flex;
    justify-content: space-between;
}
.QuestionHeader-main {
    box-sizing: border-box;
    padding-left: 0;
    width: 694px;
}
.QuestionHeader-actions {
    display: flex;
    margin: 0 -12px;
}
.QuestionHeader-actions .Button {
    margin: 0 12px;
}

.Popover {
    display: inline-block;
    position: relative;
}
.QuestionHeader-actions .Button {
    margin: 0 12px;
}
.Button--link, .Button--plain {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    height: auto;
    line-height: inherit;
    padding: 0;
}


.QuestionHeader-side {
    padding-right: 20px;
    text-align: right;
    width: 296px;
}
.QuestionButtonGroup {
    display: inline-block;
    margin: 0 -8px;
}
.QuestionButtonGroup .Button {
    margin: 0 8px;
}
.Button--primary.Button--blue, .Button--primary.Button--blue:disabled {
    background: #0f88eb none repeat scroll 0 0;
}
.Button--primary.Button--blue {
    color: #fff;
}
.Button--primary {
    background: #ccd8e1 none repeat scroll 0 0;
}
.Button--blue {
    border: 1px solid #0f88eb;
    color: #0f88eb;
}
.QuestionButtonGroup .Button {
    margin: 0 8px;
}
.Button-icon {
    margin-right: 7px;
}




.Question-main {
    -moz-box-align: start;
    -moz-box-pack: justify;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    min-height: 100vh;
    padding: 0 16px;
    width: 1000px;
}
.Question-mainColumn {
    padding-bottom: 20px;
    width: 694px;
}
.Card {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
    box-sizing: border-box;
    margin-bottom: 10px;
}
a.QuestionMainAction {
    color: #8590a6;
    display: block;
    line-height: 50px;
    text-align: center;
}
.QuestionMainAction {
    border: medium none;
    border-radius: 0;
    font-size: 15px;
    height: 50px;
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}