body {
    color: #222;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    overflow-wrap: break-word;
}
element.style {
    width: 550px;
}
html.modal-open .modal-wrapper .modal-dialog {
    margin-top: 14vh;
    position: static;
}
.modal-dialog {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.4);
    max-width: 100%;
    position: absolute;
    text-align: left;
    width: 420px;
    z-index: 99;
}
.modal-dialog, div[contentEditable] {
    outline: 0 none;
}
.modal-dialog-title {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #1d7fe2, #0865c2) repeat scroll 0 0;
    border: 1px solid #0d6eb8;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 14px;
    margin: -1px -1px 0;
    padding: 10px 15px;
    position: relative;
}
.modal-dialog {
    text-align: left;
}
.modal-dialog-title-text {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.modal-dialog-title-close {
    background-position: -60px -53px;
    cursor: pointer;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    right: 3px;
    text-indent: -9999px;
    top: 50%;
    width: 30px;
}
.icon, .tr-icon, .tr-inline-icon, .goog-option-selected .goog-menuitem-checkbox, .zu-edit-button-icon, .zu-top-live-icon, .zh-global-backtotop, .zh-hovercard-arrow, .modal-dialog-title-close, .icon-external, .zg-icon, .zm-profile-icon, .zm-profile-header-icon, .icon-info, .icon-green-check, .icon-big-arrow-left, .icon-big-arrow-right, .icon-weibo, .icon-qzone, .icon-weibo-corner, .icon-big-white-sina, .icon-big-white-qq, .icon-big-white-mail, .icon-delete, .icon-edit {
    background-image: url("../images/design2.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
