body {
    color: #555;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
    font-size: 15px;
    line-height: 1.7;
}


html.modal-open.flexbox .modal-wrapper {
    -moz-box-align: start;
    -moz-box-pack: center;
    align-items: flex-start;
    display: flex;
    justify-content: center;
}
.modal-wrapper {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}

.mutiview-dialog.show {
    opacity: 1;
    transform: translate(0px, 0px);
    margin-left: 40%;
}
.SignFlow {
    color: #787878;
    font-size: 14px;
}
.mutiview-dialog {
    background-color: #fff;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    color: #787878;
    font-size: 14px;
    margin-top: 14vh;
    opacity: 0;
    outline: 0 none;
    overflow: hidden;
    transform: translate(0px, 20px);
    transition: all 0.3s ease-out 0s;
    width: 300px;
    z-index: 99;
}

.mutiview-dialog .mutiview-dialog-title {
    height: 92px;
    position: relative;
}
.SignFlow {
    color: #787878;
    font-size: 14px;
}
.mutiview-dialog {
    color: #787878;
    font-size: 14px;
}


.mutiview-dialog .mutiview-dialog-title .title {
    height: 42px;
    line-height: 1;
    padding-bottom: 25px;
    padding-top: 25px;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.SignFlow .title {
    height: 42px;
    line-height: 1;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}
.SignFlow {
    color: #787878;
    font-size: 14px;
}
.mutiview-dialog {
    color: #787878;
    font-size: 14px;
}


.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close {
    opacity: 0.2;
    right: 10px;
}
.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back, .mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    transition: opacity 0.2s ease-out 0s;
}
.z-ico-close {
    background-position: -37px -76px;
    height: 16px;
    width: 16px;
}
.z-ico-play-video, .z-ico-wechat-right-panel, .z-ico-show-password, .z-ico-hide-password, .z-ico-weibo, .z-ico-wechat-unlogin-page, .z-ico-weibo-share, .z-ico-wechat-share, .z-ico-green-check, .z-ico-gray-check, .z-ico-daily-share, .z-ico-qq, .z-ico-wechat, .z-ico-textedit, .z-ico-shameimaru-close, .z-ico-left, .z-ico-close, .z-ico-community:hover, .z-ico-community, .z-ico-video, .z-ico-extern-gray, .z-ico-extern-blue {
    background-image: url("/static/revved/img/compiled/icons_a9b07ecead.261e7c3b.png");
}
.z-ico-play-video, .z-ico-wechat-right-panel, .z-ico-show-password, .z-ico-hide-password, .z-ico-weibo, .z-ico-wechat-unlogin-page, .z-ico-weibo-share, .z-ico-wechat-share, .z-ico-green-check, .z-ico-gray-check, .z-ico-daily-share, .z-ico-qq, .z-ico-wechat, .z-ico-textedit, .z-ico-shameimaru-close, .z-ico-left, .z-ico-close, .z-ico-community:hover, .z-ico-community, .z-ico-video, .z-ico-extern-gray, .z-ico-extern-blue {
    background-image: url("/static/revved/img/compiled/icons_a9b07ecead.261e7c3b.png");
    background-repeat: no-repeat;
    background-size: 108px 93px;
}


.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back {
    left: 10px;
    opacity: 0;
    visibility: hidden;
}
.mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-back, .mutiview-dialog .mutiview-dialog-title .mutiview-dialog-title-close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    transition: opacity 0.2s ease-out 0s;
}
.z-ico-left {
    background-position: -19px -76px;
    height: 16px;
    width: 16px;
}
.z-ico-play-video, .z-ico-wechat-right-panel, .z-ico-show-password, .z-ico-hide-password, .z-ico-weibo, .z-ico-wechat-unlogin-page, .z-ico-weibo-share, .z-ico-wechat-share, .z-ico-green-check, .z-ico-gray-check, .z-ico-daily-share, .z-ico-qq, .z-ico-wechat, .z-ico-textedit, .z-ico-shameimaru-close, .z-ico-left, .z-ico-close, .z-ico-community:hover, .z-ico-community, .z-ico-video, .z-ico-extern-gray, .z-ico-extern-blue {
    background-image: url("../images/error.png");
}
.z-ico-play-video, .z-ico-wechat-right-panel, .z-ico-show-password, .z-ico-hide-password, .z-ico-weibo, .z-ico-wechat-unlogin-page, .z-ico-weibo-share, .z-ico-wechat-share, .z-ico-green-check, .z-ico-gray-check, .z-ico-daily-share, .z-ico-qq, .z-ico-wechat, .z-ico-textedit, .z-ico-shameimaru-close, .z-ico-left, .z-ico-close, .z-ico-community:hover, .z-ico-community, .z-ico-video, .z-ico-extern-gray, .z-ico-extern-blue {
    background-image: url("../images/error.png");
    background-repeat: no-repeat;
    background-size: 108px 93px;
}


.mutiview-dialog .mutiview-dialog-title .title h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}
.SignFlow .title h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 10px;
}
body, ul, ol, li, p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}


.mutiview-dialog .mutiview-dialog-title .title h2 {
    font-size: 14px;
    font-weight: 400;
}
.SignFlow .title h2 {
    font-size: 14px;
    font-weight: 400;
}
body, ul,li, p, h1 {
    margin: 0;
    padding: 0;
}


.mutiview-dialog .mutiview-dialog-content {
    position: relative;
}

.mutiview-dialog .mutiview-dialog-content .view {
    box-sizing: border-box;
    transition: all 0.3s ease-out 0s;
    width: 100%;
}
.SignFlow {
    color: #787878;
    font-size: 14px;
}
.mutiview-dialog {
    color: #787878;
    font-size: 14px;
}
.SignFlow .input-wrapper:first-child {
    border-top: 1px solid #eee;
}
.SignFlow .input-wrapper {
    border-bottom: 1px solid #eee;
    position: relative;
}
.SignFlow .input-wrapper input {
    border: 0 none;
    box-sizing: border-box;
    color: #787878;
    font-size: 14px;
    height: 48px;
    line-height: 18px;
    outline: 0 none;
    padding: 15px 8px;
    width: 100%;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.SignFlow .input-wrapper input::placeholder {
    -webkit-text-fill-color: #ccc;
    color: #ccc;
    line-height: 18px;
    opacity: 1;
}
.SignFlow .input-wrapper input::-moz-placeholder {
    -webkit-text-fill-color: #ccc;
    color: #ccc;
    line-height: 18px;
    opacity: 1;
}
.SignFlow .input-wrapper {
    border-bottom: 1px solid #eee;
    position: relative;
}
.SignFlow .input-wrapper.verification-code input {
    width: 200px;
}
.SignFlow .input-wrapper input {
    border: 0 none;
    box-sizing: border-box;
    color: #787878;
    font-size: 14px;
    height: 48px;
    line-height: 18px;
    outline: 0 none;
    padding: 15px 8px;
    width: 100%;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.SignFlow .input-wrapper input::placeholder {
    -webkit-text-fill-color: #ccc;
    color: #ccc;
    line-height: 18px;
    opacity: 1;
}
.SignFlow .input-wrapper input::-moz-placeholder {
    -webkit-text-fill-color: #ccc;
    color: #ccc;
    line-height: 18px;
    opacity: 1;
}
.SignFlow .input-wrapper.verification-code .send-code {
    background-color: #f7f7f7;
    color: #ababab;
    float: right;
    height: 48px;
    position: relative;
    width: 94px;
    z-index: 2;
}
.SignFlow button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #787878;
    cursor: pointer;
    font-size: 14px;
    outline: 0 none;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.SignFlow .submit-wrapper {
    padding: 22px 0;
    text-align: center;
}
.SignFlow .blue-button {
    background-color: #0077d9;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    outline: 0 none;
    padding: 8px 16px;
}