<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.AdminMapper">
    <select id="list" parameterType="PaginationBean" resultType="Users">
        select * from(
       select inside.* ,rownum rn from(
            select * from users
		) inside where ${pageSize}*${currPage}>=rownum)where rn>(${currPage}-1)*${pageSize}
    </select>
    
    <select id="count" resultType="int">
       select count(0) from users 
    </select>
    
    <select id="findAdmins" parameterType="Admins" resultType="Admins">
    	select * from admins where adname=#{adname} and adpassword = #{adpassword}
    </select>
    
</mapper>