<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.DynstateMapper">
	<select id="list" parameterType="PaginationBean" resultType="Dynstate">
		select * from(
		select inside.* ,rownum rn from(
		select * from dynstate
		<if test="sgin != 'all'">
			PARTITION(${sgin})
		</if>
		<if test="sgin == 'all'">

		</if>
		) inside where ${pageSize}*${currPage}>=rownum)where
		rn>(${currPage}-1)*${pageSize}
	</select>
	<select id="count" parameterType="PaginationBean" resultType="int">
		select count(0) from dynstate
		<if test="sgin != 'all'">
			PARTITION(${sgin})
		</if>
		<if test="sgin == 'all'">

		</if>
	</select>

	<select id="listAnswer" parameterType="Users" resultType="ListAllMy">
		select
		q.qtitle title,t.uname uname,t.usign sign,t.upic tpic,
		t.rcontent,t.rtime times,'A' kind,count(m.ids) dz
		from (((select
		r.*,u.uname,u.usign,r.reqid a,u.upic,r.remitid b from REPLY
		r,users u
		where
		remitid=#{uids}
		and uids=remitid and rkind='Q') t
		left join
		question q on q.qid=t.a)
		left join dynstate PARTITION(DH) m
		on m.ids=t.a
		and m.selfid=t.b)
		group by q.qtitle ,t.uname ,t.usign ,t.upic ,
		t.rcontent,t.rtime ,kind
	</select>

	<select id="listMyQuestion" parameterType="Users" resultType="Question">
		select * from question q,
		(select count(reqid) sum,a.qid from reply
		right join (select qid from question where qautid=#{uids}) a
		on
		rkind='Q' and reqid=a.qid group by a.qid) b
		where q.qid=b.qid and
		q.qautid=#{uids}
	</select>

	<select id="listMyFavorite" parameterType="Users" resultType="Favorite">
		select f.*,t.sum from FAVORITE f,
		(select count(ids) sum from DYNSTATE
		where selfid=#{uids} and cfid=(select fid from favorite where
		fcreid=#{uids})) t
		where fcreid=#{uids}
	</select>


	<select id="totalatten" parameterType="Users" resultType="Users">
		select
		(select count(aimid) from dynstate where selfid=#{uids}) myatten,
		(select count(selfid) from DYNSTATE where aimid=#{uids}) attenme,
		(select count(ids) from DYNSTATE where selfid=#{uids} and kind='GH')
		myattentop,
		(select count(ids) from DYNSTATE where selfid=#{uids} and
		kind='GZ')
		myattenzhuanlan,
		(select count(ids) from DYNSTATE where
		selfid=#{uids} and kind='GS')
		myattenfav
		from dual
	</select>

	<insert id="insertGH" parameterType="String">
		insert into
		dynstate(selfid,kind,ids,times)
		values(#{selfid},'GH',#{ids},to_char(sysdate,'yyyy-mm-dd'))
	</insert>

	<select id="Sum" parameterType="Users" resultType="Total">
		select
		(select
		count(reqid) from reply where remitid=#{uids} and rkind='Q') answer,
		((select count(scid) from scolumn where sccreid=#{uids})+
		(select
		count(eid) from essay where eautid=#{uids})) mine,
		(select count(qid)
		from question where qautid=#{uids}) question,
		(select count(fid) from
		favorite where fcreid=#{uids}) fav
		from dual
	</select>

	<select id="listmytopic" parameterType="Users" resultType="ListAllMy">
		select t.tid tid,t.ttopic tname,t.tpic tpic,ue.uname uname,'T' kind
		from topics t,
		(select * from users u where uids=#{uids})ue
		where
		t.tid=ue.uids
	</select>

	<select id="showtopimg" parameterType="Users" resultType="Users">
		select
		u.tpic toppic,u.upic upic from users u where uids=#{uids}
	</select>

	<update id="updatetoppics" parameterType="Users">
		update users
		<set>
			<if test="toppic != null">
				tpic=#{toppic}
			</if>
		</set>
		where uids=#{uids}
	</update>

	<select id="showessay" parameterType="Users" resultType="ListAllMy">
		select
		e.etitle title,e.etime times,e.eid tid,'E' kind ,u.upic tpic
		,e.econtent content,u.uname,u.usign sign,e.eautid,count(m.ids) dz
		from
		(essay e join users u
		on e.eautid=#{uids} and u.uids=e.eautid)
		left join dynstate PARTITION(DW) m
		on m.ids=e.eid and m.selfid=e.eautid
		group by e.etitle ,e.etime ,e.eid ,
		kind ,u.upic
		,e.econtent ,u.uname,u.usign ,e.eautid
	</select>

	<select id="showscolumn" parameterType="Users" resultType="ListAllMy">
		select s.scname tname,u.uname uname,t.times times,'S' kind,u.upic tpic
		from scolumn s,
		(select times from dynstate PARTITION(GZ) where
		selfid=#{uids})t,
		Users u,
		(select ids from dynstate PARTITION(GZ) where
		selfid=#{uids}) x
		where
		s.scid=x.ids
		and uids=(select ss.sccreid from
		scolumn ss where ss.scid=s.scid)

	</select>



	<!-- 点赞 -->
	<insert id="praise" parameterType="Dynstate">
		insert into
		dynstate(selfid,kind,ids,times)
		values('${selfid}','${kind}','${ids}',to_char(SYSDATE,'yyyy-mm-dd'))
	</insert>
	<!-- 收藏 -->
	<insert id="collect" parameterType="Dynstate">
		insert into
		dynstate(selfid,kind,ids,times,cfid)
		values('${selfid}','${kind}','${ids}',to_char(SYSDATE,'yyyy-mm-dd'),'${cfid}')
	</insert>


	<select id="SumMyattensw" parameterType="Users" resultType="Total">
		select count(rid) myattenaw from reply r
		full join (select aimid from
		dynstate where selfid=#{uids} order by aimid)
		d
		on r.remitid=d.aimid
		group by d.aimid
	</select>

	<select id="SumMyatteness" parameterType="Users" resultType="Total">
		select count(eid) myatteness from essay e
		right join (select aimid from
		dynstate where selfid=#{uids} order by aimid)
		b
		on e.eautid=b.aimid
		group by b.aimid
	</select>

	<select id="SumMyattenpeos" parameterType="Users" resultType="Total">
		select count(dd.selfid) myattenpeos from dynstate dd
		right join (select
		aimid from dynstate where selfid=#{uids} order by aimid)
		c
		on
		dd.aimid=c.aimid group by c.aimid
	</select>

	<select id="myatteninfo" parameterType="Users" resultType="Users">
		select u.uname,u.upic,u.usign from users u
		right join (select aimid
		from dynstate where selfid=#{uids} order by aimid)
		e
		on u.uids=e.aimid
	</select>


	<delete id="delpraise" parameterType="Dynstate">
		delete DYNSTATE
		PARTITION(${kind}) where selfid='${selfid}' and ids='${ids}'
	</delete>

	<delete id="delcollect" parameterType="Dynstate">
		delete DYNSTATE
		PARTITION(${kind}) where selfid='${selfid}' and ids='${ids}'
	</delete>

	<select id="countdz" parameterType="Users" resultType="int">
		select
		count(ids),b.reqid,'Z' kind from dynstate PARTITION(DH)
		right join
		(select reqid from reply where remitid=#{uids} and rkind='Q') b
		on
		ids=b.reqid and selfid=#{uids} group by b.reqid
	</select>
	
	<insert id="favoriteinfo" parameterType="Favorite" >
		insert into favorite(fid,fname,ftime)
		values(seq_favorite.nextval,#{fname},Sysdate)
	</insert>

</mapper>