<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.DynstateMapper">
    <select id="list" parameterType="Dynstate" resultType="Dynstate">
        select * from dynstate 
            <if test="kind != 'all'">
				PARTITION(${kind})
			</if>
			<if test="kind == 'all'">
				
			</if>
        
    </select>
</mapper>