<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.EssayMapper">
		<insert id="addEssay" parameterType="Essay">
			INSERT INTO essay(eid,eautid,econtent,etime,etitle,etid)VALUES(seq_essay.nextval,'${eautid}','${econtent}',to_char(sysdate,'yyyy-mm-dd'),'${etitle}','${etid}') 
		</insert>
		
		
		
		<select id="findEssay" parameterType="string" resultType="Essay">
			select e.*,u.* from essay e,users u where e.eid = #{eid} and  e.eautid = uids
		</select>	
</mapper>