<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.ExploreMapper">
    <select id="list" parameterType="Users" resultType="Explore">
       select * from explore e,
          (select ids from dynstate PARTITION (GH) where selfid='${uids}')d
       where e.tid=d.ids
    </select>
    
    <select id="count" parameterType="string" resultType="int">
         select count(1) from explore where checks=#{s}
    </select>
    
    <select id="lists" parameterType="PaginationBean" resultType="Explore">
       select * from(
       select inside.* ,rownum rn from(
       select * from explore where checks=#{sgin} order by 1 desc) inside where #{pageSize}*#{currPage}>=rownum)where rn>(#{currPage}-1)*#{pageSize}

    </select>
    
    <select id="find" parameterType="Strings" resultType="Explore">
        select * from explore where ids=#{ids} and kind=#{kind}
    </select>
    <select id="findAll" parameterType="Strings" resultType="Explore">
        select * from explore where ids like #{ids} and kind like #{kind}
    </select>
    
    <select id="findUpdateW" resultType="Explore" >
	select rd.id ids,'Q' kind,q.qtitle title,rd.rcontent content,rd.tid
	tid,rd.ttopic tname,rd.usign usign,rd.uids uids,rd.uname
	author,rd.rtime times,'n' checks from QUESTION q,
	(select * from topics t,
	(select * from users u,
	(select * from reply,
	(select ids id,count(ids) counts from DYNSTATE PARTITION (DH) group by ids
	order by count(ids)DESC)
	where counts>=0 and id=rid and rkind='Q' )r
	where u.uids=r.remitid)r
	where t.tid=r.rtid)rd
	where q.qid=rd.reqid
    </select>
    <select id="findUpdateE" resultType="Explore">
         select e.eid ids,'W' kind,e.etitle title,e.econtent content,e.etid tid,t.ttopic tname,e.usign usign,e.uids uids,e.uname author,e.etime times,'n' checks  from topics t,
	     (select * from users u,
	       (select * from essay,
           	 (select ids id,count(ids) counts from DYNSTATE PARTITION (DW) group by ids order by count(ids))
	        where counts>=0 and id=eid )e
	      where u.uids=e.eautid)e
	    where t.tid=e.etid
    </select>
    
    <insert id="update" parameterType="Explore">
        insert into explore (ids,kind,title,content,tid,tname,uids,author,times,checks,praise,collect)
        values(#{ids},#{kind},#{title},#{content},#{tid},#{tname},#{uids},#{author},#{times},#{checks},#{praise},#{collect})
    </insert>
    
    <update id="submit" parameterType="Explore">
      	    update explore set checks='y' where ids=#{ids} and kind=#{kind}
    </update>
    
    <update id="updateExplore" parameterType="Explore">
       update explore set praise='${praise}' , collect='${collect}' where ids=#{ids} and kind=#{kind}
    </update>
</mapper>