<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.QuestionMapper">

	<!-- 添加问题 -->
	<insert id="insertQuestion" parameterType="Question">
		insert into QUESTION(qid,qautid,qtitle,qdetail,qtid,qtime)
		values (seq_question.nextval,#{qautid},#{qtitle},#{qdetail},#{qtid},to_char(sysdate,'yyyy-mm-dd'))
	</insert>
	
	
	<!-- 查询问题 -->
	<select id="findQuestion" parameterType="Question" resultType="Question">
			select * from question where qid=#{qid}
	</select>
	
	
	<!-- 根据id查询话题 -->
	<select id="findTopics" parameterType="String" resultType="Topics">
		select * from topics where tid=#{tid}
	</select>
	
	
</mapper>