<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射文件的命名空间namespace的值是，与这对应的映射接口的全类名 -->
<mapper namespace="com.yc.zhihu.mapper.UserMapper">

	<select id="listrelated" parameterType="Users" resultType="Explore">
		SELECT t.tid tid,t.ttopic tname,ue.uids uids,ue.uname author,ue.eid ids,ue.etitle title,ue.econtent content,ue.etime times,'W' kind FROM Topics t,
		  (SELECT * FROM USERS u,
		    (SELECT * FROM essay e,
		       (select ids from dynstate PARTITION(GH) WHERE selfid=#{uids})d
       		 WHERE e.etid=d.ids)e
		   WHERE u.uids=e.eautid)ue
		WHERE ue.etid=t.tid
	</select>

	<!-- 查询关注用户的话题的问题和回复 -->	
	<select id="listrelatedQ" parameterType="Users" resultType="Explore">
	select tre.rid ids, q.qtitle title,tre.rcontent content,tre.rtid tid,tre.ttopic tname,tre.uids uids,tre.usign usign ,tre.uname author,tre.rtime times,'Q' kind from QUESTION q,
       (SELECT * FROM Topics t,
		  (SELECT * FROM USERS u,
		    (SELECT r.* FROM reply r,
		       (select ids from dynstate PARTITION(GH) WHERE selfid=#{uids})d
       		 WHERE r.rtid=d.ids)r
		   WHERE u.uids=r.remitid)ue
		WHERE ue.rtid=t.tid)tre
	where tre.reqid=q.qid
	</select>
	
	<!-- 查询关注用户24小时之内写的文章 -->
	<select id="listessay" parameterType="Users" resultType="Explore">
	    select e.etid ids,e.eautid uids,e.econtent content,e.etime times,e.etitle title,e.etid tid,ud.uname author from essay e,
           (select * from users u,
	         (SELECT aimid from dynstate PARTITION(GR) WHERE selfid=#{uids})d
	       where u.uids=d.aimid)ud
        where e.eautid=ud.uids AND 24*100>=to_number( SYSDATE- to_date(e.etime,'yyyy-mm-dd'))*24
	</select>
	<!-- 查询关注用户24小时之内提的问题 -->
	<select id="listquestion" parameterType="Users" resultType="Explore">
        select q.qtid ids,q.qautid uids,q.qtime times,q.qtitle title,q.qtid tid,ud.uname author from question q,
           (select * from users u,
	         (SELECT aimid from dynstate PARTITION(GR) WHERE selfid=#{uids})d
	       where u.uids=d.aimid)ud
        where q.qautid=ud.uids AND 24*100>=to_number( SYSDATE- to_date(q.qtime,'yyyy-mm-dd'))*24
	</select>
	<!-- 获得当前关注的所有对象24小时内的全部动态  -->
	<select id="lists" parameterType="Users" resultType="Dynstate">
	     SELECT * from dynstate d,
                (SELECT aimid from dynstate PARTITION(GR) WHERE selfid='${uids}')dd
         WHERE d.selfid=dd.aimid AND 24>=to_number( SYSDATE- to_date(d.times,'yyyy-mm-dd'))*24
	</select>
	<select id="listrelatedTopic" parameterType="Dynstate" resultType="Explore">
	     select t.tid tid,t.ttopic tname,t.tpic content,'${times}' times,'${selfid}' uids,u.uname author,'GH' kind from users u,(select * from Topics tt where tt.tid='${ids}') t where u.uids='${selfid}'
	</select>
	
	<select id="listTopics" parameterType="Users" resultType="Topics">
	select * from topics t,
	   (select * from dynstate PARTITION(GH) where selfid=#{uids})d
	where d.ids=t.tid
	</select>
	
	<!-- 登录 -->
	<select id="findUsers" parameterType="Users" resultType="Users">
		select * from users where uemail = #{uemail} and upassword = #{upassword}
	</select>
	
	<!-- 查找是否存在该用户名或邮箱 -->
	<select id="findNewUsers" parameterType="Users" resultType="Users">
		select * from users where uemail =#{uemail} or uname = #{uname}
	</select>
	
	<!-- 注册 -->
	<insert id="AddUsers" parameterType="Users">
		insert into users(uemail,uname,upassword,usign) values(#{uemail},#{uname},#{upassword},'无') 
	</insert>
</mapper>